
 /**
 * general page layout
 */

a {
    font-family: helvetica-w01-light,helvetica-w02,sans-serif;
    color: black;
    /**
    color:#e30613;/**#F00;**/
    /**text-decoration: underline;
    **/
}
 
body {
 	font-family: helvetica-w01-light,helvetica-w02,sans-serif;
    color:#e30613;/**#e30613;/**#F00;**/
	width:90%;
	margin-left:auto;
	margin-right:auto;
 }

/**verwijderen grijze lijn bovenaan footer**/
.footer {
    border-top: 0px solid white;
}

/**
* startlogo per gemeente in navigation bar
**/
#block-views-block-logo-per-gemeente-view-block-1{
	float:left;
	width:30%;
	}
	
@media only screen and (max-width: 479px) {
    .views-field views-field-field-imglogopergemeente {
     display:none;
    }
}
/**
 * nav bar  TA - geen inschrijvingen
 **/

#block-mainnavigationgeeninschrijving
{
    float:right;
    width:70%;
}

#block-mainnavigationgeeninschrijving li {
    float:left;
}

/**
 * nav bar  junior TA - geen inschrijvingen
 **/
#block-mainnavigationjuniortageeninschrijvingen
{
    float:right;
    width:70%;
}

#block-mainnavigationjuniortageeninschrijvingen li {
    float:left;
}



/**
 * nav bar junior TA
 **/
#block-mainnavigationjuniorta
{
    float:right;
    width:70%;
}
#block-mainnavigationjuniorta li {
    float:left;
}

/**
* nav bar repair
**/
#block-mainnavigationrepair
{
    float:right;
    width:70%;
}
#block-mainnavigationrepair li {
    float:left;
}

/**
 * nav bar  repair TA - geen inschrijvingen
 **/
#block-mainnavigationrepairgeeninschrijving
{
    float:right;
    width:70%;
}

#block-mainnavigationrepairgeeninschrijving li {
    float:left;
}


.nav>li>a{
    /**color:#e30613;**/
    color: black;
}
.navbar-default .nav>.active>a, .navbar-default .nav>.active>a:hover, .navbar-default .nav>.active>a:focus{
    color:white;
    height:100%;
    background-color:#e30613;
}
.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus {
    color:#e30613;
}

/**
* nav bar
**/
#block-bootstrapta-main-menu
{
    float:right;
    width:70%;
}



.navbar-default .navbar-nav>li>a{
    /**color:#e30613;**/
    color: black;
}
.navbar-default {
    background-color: white;
    border-color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color:white;
    height:100%;
    background-color:#e30613;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color:#e30613;
}

.view-junior-ta-geen-inschrijving-view{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 20px;
}

.view-ta-geen-inschrijving{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 20px;
}
/**
* Header banner TA - Voor kinderen van ...
**/
.headerta {
    float: right;
    color: white;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: #e30613;
}

/**
* logo op welkom page naast welkom tekst START PAGINA
**/
#block-views-block-welkom-gemeente-afbeelding-view-block-1 {
    float:left;
    width:30%;
    Margin-top:50px;
}
@media only screen and (max-width: 479px) {
    #block-views-block-welkom-gemeente-afbeelding-view-block-1 {
        display:none;
    }
}

/**
* welkom tekst per gemeente START PAGINA
**/
#block-views-block-welkom-gemeente-view-block-1{
    float: right;
    width:70%;
}

@media only screen and (max-width: 479px) {
    #block-views-block-welkom-gemeente-view-block-1 {
        width:100%;
    }
}


/**
 * logo op welkom page junior TA naast welkom tekst
 **/

.block-views-blockwelkom-gemeente-afbeelding-view-block-1 {
    float:left;
    width:30%;
    Margin-top:50px;
}
@media only screen and (max-width: 479px) {
    .block-views-blockwelkom-gemeente-afbeelding-view-block-1 {
        display:none;
    }
}
/**
 * welkom tekst per gemeente junior TA
 **/

.block-views-blockwelkom-gemeente-view-junior-ta-block-1{
    float: right;
    width:70%;
}

@media only screen and (max-width: 479px) {
    .block-views-blockwelkom-gemeente-view-junior-ta-block-1 {
        width:100%;
    }
}

/**
 * logo op welkom page Repair naast welkom tekst
 **/

.block-views-blockwelkom-gemeente-afbeeldingen-repair-view-block-1  {
    float:left;
    width:30%;
    Margin-top:50px;
}
@media only screen and (max-width: 479px) {
    .block-views-blockwelkom-gemeente-afbeeldingen-repair-view-block-1  {
        display:none;
    }
}
/**
 * welkom tekst per gemeente junior TA
 **/

.block-views-blockwelkom-gemeente-view-repair-block-1{
    float: right;
    width:70%;
}

@media only screen and (max-width: 479px) {
   .block-views-blockwelkom-gemeente-view-repair-block-1 {
        width:100%;
    }
}


/**
* navigatie knoppen frontpage en info page
**/
.view-knoppen-ta-junior-ta-view{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display:inline-block;
    background:#e30613;
    padding-top: 80px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 20px;
}
.view-id-navigatieknoppen_op_startscherm_view {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display:inline-block;
    background:#e30613;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 10px;
}
.view-navigatieknoppen-op-startscherm-view-junior-ta{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display:inline-block;
    background:#e30613;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 10px;
}
.view-navigatieknoppen-op-startscherm-repair{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display:inline-block;
    background:#e30613;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 10px;
}

.knoptabody {
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.knopNavigatie > a > img {
    margin: auto;
}
.knopNavigatie > a > img:hover {
    filter: drop-shadow(10px 10px 10px black);
}

/**
* tekst locatiegegevens op info pagina
**/
.body-locatie {
    text-align: center;
    padding-top:25px;
    padding-bottom: 12px;
}


/**
 * Inschrijving knop frontpage
 **/

.inschrijvingTekstStartPagina > p {
    text-align: center;
}

.linkInschrijvenStartScherm  {
    text-align: center;
}

.views-field-field-imginschrijvingstartpagina .field-content > a > img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 12px;
}

/**
 * uitpastekst frontpage
 **/
.uitpastekst .field-content > p {
    padding-top: 25px;
    padding-bottom: 12px;
    text-align: center;
}

/**
* sponsor images
*/

.sponsor-image {
	padding-top: 15px;
	padding-bottom: 15px;
}

.sponsor-image > img {
	margin:auto;	
}

.footer .block-title {
	color: #e30613 /**rgb(191,41,56);**/
	text-align: center;
}

/**
 * foto's per gemeente
 **/
.views-field-field-imgfotospergemeente .field-content {
    margin-bottom: 10px;
}

.views-field-field-imgfile .field-content {
    margin-bottom: 10px;
}
/** verticaal aligneren van images in een row **/

@media (min-width: 992px) {
      .vcenter {
            display: flex;
            align-items: center;
}
}
